<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HireDjango - Reverse job board for Django Developers</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎯</text></svg>">
    <script src="https://cdn.tailwindcss.com"></script>
    <style media="screen">
    /* Todo this should be moved to a static folder in future */
    .asteriskField {
      display: none;
    }
    </style>
</head>
<body>
    <div class="w-full min-h-screen bg-gray-50">
        <div class="text-zinc-300 bg-indigo-700">
                <nav class="container mx-auto px-2 sm:px-6 lg:px-8" aria-label="Top">
                    <div class="w-full py-4 flex flex-col sm:flex-row items-center justify-between border-b border-indigo-500 lg:border-none">
                        <div class="flex items-center">
                            <a href="{% url 'home' %}">
                            <span class="sr-only">HireDjango</span>
                            <a href="{% url 'home' %}" class="h-full text-3xl font-bold tracking-tighter text-gray-50 hover:text-white lg:pr-2">HireDjango</a>
                            </a>
                            <div class="hidden ml-10 space-x-8 lg:block">
                            <a href="{% url 'pricing' %}" class="text-base font-medium text-white hover:text-indigo-50"> Pricing </a>
                            <a href="{% url 'about' %}" class="text-base font-medium text-white hover:text-indigo-50"> About </a>
                            <a href="{% url 'list_developers' %}" class="text-base font-medium text-white hover:text-indigo-50"> Developers </a>
                            </div>
                        </div>
                        <div class="sm:ml-10 mt-4 sm:mt-0 space-x-4 flex items-center">
                            {% if user.is_authenticated %}
                                <p class="underline hover:text-white"><a href="{% url 'profile' %}">{{user.email}}</a></p>
                            {% if user.freelancer.profile_pic %}
                                <a href="{% url 'profile' %}">
                                    <img class="hidden md:block w-12 h-12 border-2 rounded-full shrink-0 object-cover" src="{{ user.freelancer.profile_pic.url }}" alt="Profile pic">
                                </a>
                            {% elif user.business.profile_pic %}
                                <a href="{% url 'profile' %}">
                                    <img class="w-10 border rounded-full shrink-0 object-cover" src="{{ user.business.profile_pic.url }}" alt="Profile pic">
                                </a>
                            {% else %}
                                <a href="{% url 'profile' %}">
                                    <img class="w-12 h-12 border-2 rounded-full shrink-0 object-cover" src="https://www.clevelandcitycouncil.org/sites/default/files/styles/ward_person_image/public/2021-11/placeholderperson.png?itok=DSjhVCkc" alt="Profile pic">
                                </a>
                            {% endif %}
                                <form action="{% url 'account_logout' %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="hover:text-white">Logout</button>
                                </form>
                            {% else %}

                                <a href="{% url 'account_login' %}" class="inline-block bg-indigo-500 py-2 px-4 border border-transparent rounded-md text-base font-medium text-white hover:bg-opacity-75">Sign in</a>
                                <a href="{% url 'account_signup' %}" class="inline-block bg-white py-2 px-4 border border-transparent rounded-md text-base font-medium text-indigo-600 hover:bg-indigo-50">Sign up</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="py-4 flex flex-wrap justify-center space-x-6 lg:hidden">
                      <a href="#" class="text-base font-medium text-white hover:text-indigo-50"> Pricing </a>
                      <a href="{% url 'about' %}" class="text-base font-medium text-white hover:text-indigo-50"> About </a>
                      <a href="{% url 'list_developers' %}" class="text-base font-medium text-white hover:text-indigo-50"> Developers </a>
                    </div>
                  </nav>

                {% comment %} <nav class="flex-col items-center flex-grow pb-4 md:pb-0 md:flex md:justify-start md:flex-row md:pl-8">
                    <div class="hidden ml-10 space-x-8 lg:block">
                        <a class="font-semibold px-3 py-2 rounded hover:text-white hover:cursor-pointer">Pricing</a>
                        <a  class="font-semibold px-3 py-2 rounded hover:text-white hover:cursor-pointer">About</a>
                        <a href="{% url 'list_developers' %}" class="font-semibold px-3 py-2 rounded hover:text-white hover:cursor-pointer">Developers</a>
                    </div>

                    <div class="inline-flex items-center gap-2 list-none md:ml-auto">
                        {% if user.is_authenticated %}
                            <p class="underline hover:text-white"><a href="{% url 'profile' %}">{{user.email}}</a></p>
                        {% if user.freelancer.profile_pic %}
                            <img class="w-12 h-12 border-2 rounded-full mx-4" src="{{ user.freelancer.profile_pic.url }}" alt="Profile pic">
                        {% elif user.business.profile_pic %}
                            <img class="w-10 border rounded-full mx-4" src="{{ user.business.profile_pic.url }}" alt="Profile pic">
                        {% else %}
                            <img class="w-12 h-12 border-2 rounded-full mx-4" src="https://www.clevelandcitycouncil.org/sites/default/files/styles/ward_person_image/public/2021-11/placeholderperson.png?itok=DSjhVCkc" alt="Profile pic">
                        {% endif %}
                        <form action="{% url 'account_logout' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="hover:text-white">Logout</button>
                        </form>
                        {% else %}
                        <a href="{% url 'account_login' %}">
                            <button class="font-semibold px-6 py-2 rounded hover:text-white hover:cursor-pointer mr-1">Sign in</button>
                        </a>
                        <a href="{% url 'account_signup' %}">
                            <button class="leading-relaxed block px-10 py-2 text-base font-medium text-center text-white bg-indigo-700 rounded-lg hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Sign up</button>
                        </a>
                        {% endif %}
                    </div>
                    <div class="py-4 flex flex-wrap justify-center space-x-6 lg:hidden">
                        <a class="font-semibold px-3 py-2 rounded hover:text-white hover:cursor-pointer">Pricing</a>
                        <a href="{% url 'about' %}" class="font-semibold px-3 py-2 rounded hover:text-white hover:cursor-pointer">About</a>
                        <a href="{% url 'freelancer-list' %}" class="font-semibold px-3 py-2 rounded hover:text-white hover:cursor-pointer">Developers</a>
                    </div>
                </nav> {% endcomment %}
        </div>
        <div class="container mx-auto py-6 sm:py-10 md:py-20">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
    <footer class="text-gray-600 body-font border-t bg-gray-50">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
          <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
            <span class="ml-3 text-xl">HireDjango</span>
          </a>
          <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2022 HireDjango
          </p>
          <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
            <a class="ml-3 text-gray-500 hover:text-black" target="_blank" href="https://www.twitter.com/domvacchiano">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
              </svg>
            </a>
          </span>
        </div>
    </footer>
</body>
</html>
