{% extends 'jobs/_base.html' %}

{% block content %}
<div class="px-12 mx-auto max-w-7xl">
    <section class="text-gray-600 body-font">
        <div class="container px-5 mx-auto flex flex-col">
          <div class="lg:w-4/6 mx-auto">
            <div class="flex flex-col sm:flex-row my-10">
              <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
                <div class="w-20 h-20 rounded-full inline-flex items-center justify-center bg-gray-200 text-gray-400">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
                    <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                    <circle cx="12" cy="7" r="4"></circle>
                  </svg>
                </div>
                <div class="flex flex-col items-center text-center justify-center">
                  <h2 class="font-medium title-font mt-4 text-gray-900 text-lg">Dom Vacchiano</h2>
                  <div class="w-12 h-1 bg-indigo-500 rounded mt-2 mb-4"></div>
                  <p class="text-base">Founder of HireDjango</p>
                </div>
              </div>
              <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
                <p class="-mt-8 mb-8 text-4xl font-semibold text-gray-900">About</p>
                <p class="leading-relaxed text-lg mb-4">I built HireDjango to try and fix the issues both job seekers and those hiring face throughout the process. I've been on both sides of the spectrum and neither is too enjoyable. Developers fire off endless proposals or applications and many times never receive a reply. Business' are flooded with applicants, many of whom send over a very generic resume or proposal. Both sides waste unnecessary time early on for projects or jobs that aren't a good fit. HireDjango aims to fix that. Developers make a free profile and add preferences and experiences. Companies browse these devs and reach out to those that fit their criteria. The convo starts a step ahead of generic job listings or blanket proposals.</p>
                {% if not user.is_authenticated %}
                    <a href="{% url 'account_signup' %}" class="text-indigo-500 inline-flex items-center">Sign up now
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                          <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                      </a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </section>
</div>

{% endblock content %}